[Unit]
Description=Star Wars SSH + Telnet server written in Go
Documentation=https://github.com/gabe565/ascii-movie
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/ascii-movie serve
WorkingDirectory=/var/lib/ascii-movie
BindReadOnlyPaths=/usr/bin/ascii-movie
AmbientCapabilities=CAP_NET_BIND_SERVICE
User=ascii-movie
Group=ascii-movie

[Install]
WantedBy=multi-user.target
